{
  "extension": [
    ".ts",
    ".tsx"
  ],
  "include": [
    "src/**/*"
  ],
  "exclude": [
    "**/*.d.ts"
  ],
  "reporter": [
    "text-summary" , "lcov"
  ],
  "sourceMap": false,
  "all": true
}