{
  "extension": [
    ".ts",
    ".tsx"
  ],
  "include": [
    "src/**/*.ts"
  ],
  "exclude": [
    "**/*.d.ts",
    "**/__*.ts"
  ],
  "reporter": [
    "text-summary" , "lcov"
  ],
  "all": true
}